<!-- <h1>user has been created</h1> -->


                               <!-- <section class="vh-100" style="background-color: #eee;">
                                <div class="card text-black" style="border-radius: 15px;">  
                                
<table class="table">
    <thead class="thead-dark">
      <tr style="color:rgb(40, 36, 36)">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">update</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of allUsers ;index as j">
         <td>{{j}}</td>
        <td>{{i.name}}</td>
        <td>{{i.Email}}</td>
        <td>{{i.address}}</td>
        <td><button type="submit" class="btn btn-success " (click)="onChange(i)">update</button>
        </td>
        <td><button class="btn btn-danger " (click)="onClick(i._id)">delete</button></td>
    
      </tr>
  
     
  </table>

                           -->

                           <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">
                              <a class="navbar-brand" href="#">Navbar</a>
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                  <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/login']">log in</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/admin']">create</a>
                                  </li>
                                  
                                </ul>
                                <form class="d-flex">
                                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                  <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                              </div>
                            </div>
                          </nav>
                          <h3 style="text-align: center">welcome to admin page</h3>